body {min-width:1000px;}
/* h_top */
header {}
header .line {
    border-bottom:1px solid #aaa;
}
header .line:last-child {border-bottom:none;}
header .line .h_top {
    width:calc(100% - 240px); margin:0 auto;
    display:flex; justify-content:space-between;
    height:40px; align-items:center;
}
header .line .h_top .h_top_left {}
header .line .h_top .h_top_left a {font-size:0.875rem;}
header .line .h_top .h_top_left a::after {
    content:''; display:inline-block;
    width:1px; height:10px; background:#000;
    margin:0 10px;
}
header .line .h_top .h_top_left p {
    display:inline-block; font-size:0.875rem;
    font-weight:700;
}
header .line .h_top .h_top_left p img {
    margin:0 10px;
}
header .line .h_top .family_site {
    width:250px; background:#8EC31F;
    height:100%; text-align:center;
    color:#fff; font-weight:700;
}
header .line .h_top .family_site img {
    margin-left:20px; margin-top:10px;
}
header .line .h_top .lang {}
header .line .h_top .lang p {
    font-size:0.875rem;
}
header .line .h_top .lang p img {}
header .line .h_top .lang p a {
    font-size:0.875rem; width:24px; height:24px;
    border-radius:50%; background:#d9d9d9;
    display:inline-block; text-align:center;
    padding-top:3px; color:#324A6F; font-weight:700;
}
header .line .h_top .lang p a:nth-child(2) {
    background:#324A6F;  color:#fff;
}
/* h_btm */
header .line {position:relative;}
header .line .h_btm {
    width:calc(100% - 240px); margin:0 auto;
    height:80px;
    display:flex; justify-content:space-between;
    align-items:center;
}
header .line .h_btm h1 {}
header .line .h_btm h1 img {}
header .line .h_btm nav {}
header .line .h_btm nav ul {
    display:flex; justify-content:space-between;
}
header .line .h_btm nav ul li {position:relative;}
header .line .h_btm nav ul li > a {
    display:inline-block; width:200px;
    line-height:80px; text-align:center;
}
header .line .h_btm nav ul li .sub  {
    display:flex; flex-flow:column nowrap;
    position:absolute; z-index:2;
    height:300px; width:100%;
}
header .line .h_btm nav ul li .sub > a  {
    display:inline-block; width:200px;
    text-align:center; height:50px;
    line-height:50px;
}
header .line .h_btm nav ul li .sub > a:hover {background:#0081CC; color:#fff;}
header .line .h_btm .nav_bg {
    height:300px; width:100%;
    position:absolute; top:80px; left:0;
    z-index:1; background:#fff; border-top:1px solid #aaa;
}
header .line .h_btm .h_btm_right  {}
header .line .h_btm .h_btm_right a:last-child {margin-left:20px;}
header .line .h_btm .h_btm_right a img  {}
/* footer */
footer {
    width:calc(100% - 240px); margin:50px auto;
}
footer .f_top {
    display:flex; align-items:center;
    justify-content:space-between;
    padding:10px 0;
}
footer .f_top h1 {}
footer .f_top h1 a {}
footer .f_top h1 a img {}
footer .f_top .f_nav {}
footer .f_top .f_nav a {
    padding-left:20px;
}
footer .f_top .f_nav a:first-child {padding-left:0;}
footer .f_top .f_nav a:hover {color:#2E4198;}
footer .f_btm {
    display:flex; justify-content:space-between;
    align-items:center; margin:10px 0;
}
footer .f_btm address {}
footer .f_btm address span {
    line-height:30px; margin-left:10px;
}
footer .f_btm .sns {}
footer .f_btm .sns a { margin-left:30px;}
footer .f_btm .sns a img {}
footer > p {
    text-align:center; margin:50px 0;
}